@import "compass";
@import "compass/css3";
@import "compass/reset";

*{
	@include box-sizing(border-box);
}

body{
	font-family: Comfortaa;
	font-size: 14px;
}
.scene{
	background: #fff;
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 1024px;
	height:460px;
	left: 50%;
	margin-left: -512px;
	padding-top:40px;
	border-bottom:dashed 1px #05b3cc;
}

h1{
	font-size: 100px;
	font-weight:bold;
	color:#05b3cc;
	text-align: center;
	display: none;
}
.cloud{
	$color: #0f96d8;
	color: $color;
	position: absolute;
	display: none;
	padding: 30px 40px;
	@include border-radius(50%);
	border: solid 2px $color;
	font-size:14px;
	background:#fff;
	white-space:nowrap;
	&:before,
	&:after{
		background:#fff;
		content: " ";
		position: absolute;
		display: inline-block;
		padding:10px 20px;
		@include border-radius(50%);
		border: solid 2px $color;
		background: #fff;
		bottom:-8px;
		left: -5px;
	}
	&:after{
		padding: 3px 5px;
		bottom:-13px;
		left:-8px;
	}
}

.present{
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}
.bear{
	z-index: 2;
	position:absolute;
	img{
		display: block;
		margin: 0;
		padding: 0;
	}
	span{
		display: none;
		position: absolute;
		text-align: center;
		width:100%;
		top:-30px;
		font-size:20px;
		color: #737373;
	}
	&.flip img{
		transform: scaleX(-1);
	}	
}

.girl{
	bottom:0;
	right:-105px;	
	.cloud{
		$color: #499e27;
		color: $color;
		right:122px;
		border-color:$color;
		&:before, &:after{
			border-color:$color;
		}
		&:before{
			left:auto;
			right: -5px;
		}
		&:after{
			left:auto;
			right:-8px;

		}
	}
}

.boy{	 
	bottom:0;
	left:-109px;	
	.cloud{
		top: 10px;
		left:122px;
	}
}
